.configuration-form {
    margin: 10px;
};

.field-list {
    width: 100%;
    margin-top: 10px;
}
.field-list-row {
    display: flex;
    margin-top: 10px;
}
.field-list-col {
    margin-right: 20px;
    flex: 1;
}
.field-list-col-main {
    flex: 2;
}
.field-list-col-command {
    width: 30px;
    padding-bottom: 8px;
}
.field-list-col-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
}

.section-header {
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 5px;
}
